{% extends 'base.html' %}
{% block title %}Payment List{% endblock %}
{% block content %}
    <h1>Payments</h1>
    <p>Total Payment: {{ total_payments }}</p>
    <h3>All Payments:</h3>
    <ul>
        {% for payment in payments %}
            <li>
                Amount: {{ payment.amount }} - Payment Date: {{ payment.paid_at }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'payment_create' %}">Add New Payment</a>
    <ul>
        {% for payment in object_list %}
            <li>
                <a href="{% url 'payment_detail' payment.id %}">${{ payment.amount }} - {{ payment.client }}</a>
                <a href="{% url 'payment_update' payment.id %}">Edit</a>
                <a href="{% url 'payment_delete' payment.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
