{% extends 'base.html' %}
{% block title %}Purchase List{% endblock %}
{% block content %}
    <h1>Purchases</h1>
    <a href="{% url 'purchase_create' %}">Add New Purchase</a>
    <ul>
        {% for purchase in object_list %}
            <li>
                <a href="{% url 'purchase_detail' purchase.id %}">{{ purchase.product }} - ${{ purchase.total }}</a>
                <a href="{% url 'purchase_update' purchase.id %}">Edit</a>
                <a href="{% url 'purchase_delete' purchase.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
